@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --first-color: #fff;
  --second-color: #000;
  --third-color: #333;
  --dark-third-color: #ccc;

  --wgt-bold: 700;
  --body-font: 'Roboto', sans-serif;
  --title-size: 1.375rem;
  --txt-size: 1.125rem;
  --normal-size: 1rem;
  --small-size: 0.875rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --border-outside-radius: 30px;
  --border-inside-radius: 10px;
}

/*========== CSS Reset ==========*/
a {
  color: var(--first-color);
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}

/*========== Base Layout ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--body-font);
  font-size: var(--normal-size);
}
html {
  scroll-behavior: smooth;
}
body,
html {
  background-color: var(--second-color);
  color: var(--first-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --first-color: #000;
    --second-color: #fff;
    --third-color: #ccc;
    --dark-third-color: #333;
  }
}
